extends layout-production

block css
  link(rel="stylesheet" href="css/rj3d.prod.min.css")
block title
  title 3D Robot Jump
block append script
  script(src="js/rj3d.min.js")

block content

block endscript

  script(type='x-shader/x-vertex' id='vertexShader').
    
    varying vec3 vWorldPosition;

    void main() {

      vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
      vWorldPosition = worldPosition.xyz;
      gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }

  script(type='x-shader/x-fragment' id='fragmentShader').
    
      uniform vec3 topColor;
      uniform vec3 bottomColor;
      uniform float offset;
      uniform float exponent;

      varying vec3 vWorldPosition;

      void main() {

        float h = normalize( vWorldPosition + offset ).y;
        gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );
      }

  script(type='text/javascript').

    document.body.onload = function() {

      "use strict";

      var el = document.querySelector('.rs-rj3d');
      var rj3d = new RobotJump(el);
      window.rj3d = rj3d;
    }
