
.rs-ab3d-restartpanel {

  width: 300px;
  font-size: 40px;
  font-family: 'Odibee Sans', sans-serif;
  text-transform:uppercase;
  text-align: center;
  padding:16px;
  color:#eee;
  background:rgba(10, 10, 10, 0.9);
  top:50%;
  left:50%;
  position: fixed;
  transform:translate(-50%, -50%);
  border-radius:10px;
  user-select:none;
}
