
$accentColor:#fbb03b;
$secondColor:#6d8afc;
$thirdColor:#cfab74;

@import "ui/ringpreloader";
@import "game/panel";
@import "rj3d/animation";
@import "rj3d/timerbutton";
@import "rj3d/trophypanel";
@import "rj3d/levelpanel";
@import "rj3d/helppanel";
@import "rj3d/restartpanel";
@import "rj3d/creditpanel";
@import "rj3d/categorypanel";
@import "rj3d/settingpanel";
@import "rj3d/gamefont";
@import "rj3d/gameicon";
@import "rj3d/game";
@import "rj3d/responsive";
@import "rj3d/hscreenheader";
@import "rj3d/hscreenmenu";
@import "rj3d/gamebutton";
@import "rj3d/gameheader";
